.idea/
logs/
.iml
.model
.csv
.xlsx
.json
.pb
*/.txt
*/.class
*/.so
.project
.classpath
.settings
*.jar
target/
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*.log
*/scripts/*.pyc
*/scripts/*.*~
src/main/webapp/WEB-INF/classes
src/main/resources/META-INF/persistence.xml
src/main/webapp/META-INF/
deployService.sh
*/src/main/webapp/WEB-INF/decorators/jsdep.inc
*/src/main/webapp/WEB-INF/decorators/jsdep_debug.inc
src/main/webapp/static/js/site_js_dep.js
*/src/main/webapp/WEB-INF/decorators/revision.properties
target
src/main/webapp/static/media/meituan.mp3
*.myeclipse*
*.mymetadata*

/src/test
waimai_d_assistant_poi.iml
train_data/
test_data/
result/
export_ptr_model/
data/
__pycache__/


model/

*/data/
*/graphs/


*.pkl

